.more {
  padding: 50px 70px 80px 70px;
  display: flex;
  justify-self: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .more {
    padding: 50px 30px 80px 30px;
    display: flex;
    justify-self: center;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .more {
    padding: 50px 10px 80px 10px;
    display: flex;
    justify-self: center;
    justify-content: center;
  }
}
