.movies__message {
  text-align: center;
  color: white;
  padding: 50px 70px 80px 70px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}

@media (max-width: 800px) {
  .movies__message {
    padding: 50px 30px 80px 30px;
  }
}

@media (max-width: 400px) {
  .movies__message {
    padding: 50px 10px 80px 10px;
    font-size: 18px;
    line-height: 22px;
  }
}
