.profile {
  margin: 0;
  padding: 74px 0 70px 0;
  background: #202020;
}

@media (max-width: 800px) {
  .profile {
    padding: 236px 0 269px 0;
  }
}

@media (max-width: 400px) {
  .profile {
    padding: 70px 0 40px 0;
  }
}

@import url(./elements/profile__title.css);
@import url(./elements/profile__data-container.css);
@import url(./elements/profile__data.css);
@import url(./elements/profile__data-text.css);
@import url(./elements/profile__menu.css);
@import url(./elements/profile__button/profile__button.css);
@import url(./elements/profile__button/profile__button_logout.css);
