.header__button-login {
  width: 76px;
  margin: 0;
  padding: 8px 0;
  text-align: center;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: #3ddc84;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.header__button-login:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 460px) {
  .header__button-login {
    width: 54px;
    font-size: 10px;
    padding: 5px 0;
  }
}
