.about-project__schedule {
  display: grid;
  grid-template-columns: 228px 1fr;
  grid-template-rows: 36px 36px;
  row-gap: 14px;
  text-align: center;
  list-style: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.about-project__schedule :nth-child(1) {
  text-align: center;
  padding: 9px 0 9px 0;
  font-weight: 400;
  color: #000000;
  background-color: #3ddc84;
}
.about-project__schedule :nth-child(2) {
  padding: 9px 0 9px 0;
  font-weight: 400;
  color: #ffffff;
  background-color: #303030;
}
.about-project__schedule :nth-child(3) {
  color: #8b8b8b;
}
.about-project__schedule :nth-child(4) {
  color: #8b8b8b;
}

@media (max-width: 870px) {
  .about-project__schedule {
    grid-template-columns: 140px 1fr;
    grid-template-rows: 36px 36px;
  }
}
