.footer__link {
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
}

.footer__link:hover {
  opacity: 0.5;
}

@media (max-width: 460px) {
  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}
