.footer__wrapper {
  margin: 0;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 460px) {
  .footer__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
}
