.about-me__text {
  margin: 0;
  padding: 26px 0 99px 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

@media (max-width: 870px) {
  .about-me__text {
    padding: 20px 0 87px 0;
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 708px) {
  .about-me__text {
    padding: 20px 0 70px 0;
  }
}

@media (max-width: 653px) {
  .about-me__text {
    padding: 20px 0 53px 0;
  }
}

@media (max-width: 500px) {
  .about-me__text {
    padding: 20px 0 40px 0;
    font-size: 11px;
    line-height: 16px;
  }
}
